/* purgecss start ignore */
body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-family: "IBM Plex Sans", sans-serif;
}

@tailwind base;

@tailwind components;

h1 {
    @apply text-3xl font-bold leading-tight;
}

h2 {
    @apply text-xl my-5 font-bold border-b-2;
}

p {
    @apply my-2
}

ul {
    @apply mx-2 list-disc py-2
}

ol {
    @apply mx-2 list-decimal
}

li {
    @apply py-1
}

a {
    @apply underline
}

a:hover {
    @apply line-through
}

img {
    @apply w-full
}

table {
    @apply w-full border-2 border-gray-500
}

th {
    @apply text-left
}

th, td {
    @apply p-2 border-gray-500 border overflow-scroll
}

pre {
    @apply my-2
}
.header-image {
    object-fit: cover;
    max-height: 30rem;
}
.image-container{
    max-height: 30rem;
}

@screen md {
    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-2xl my-5 font-bold border-b-2;
    }
    ul {
        @apply mx-2
    }

    ol {
        @apply mx-2
    }
}
@screen lg {
    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-2xl my-5 font-bold border-b-2;
    }
    ul {
        @apply mx-5
    }

    ol {
        @apply mx-5
    }
}
@screen xl {
    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-2xl my-5 font-bold border-b-2;
    }
    ul {
        @apply mx-5
    }

    ol {
        @apply mx-5
    }
}
/* purgecss end ignore */
@tailwind utilities;

@tailwind screens;